openapi: 3.2.0
info:
  title: Lighthouse Integration Reviews API
  description: The Lighthouse Integration API (formerly the OTA Insight API) lets subscribed hotel and hospitality customers create periodic custom data extracts from Lighthouse's hotel competitive intelligence, market demand, pricing, and parity datasets.
  version: '3.1'
  contact:
    name: Lighthouse Developer Support
    url: https://www.mylighthouse.com/contact-sales
  termsOfService: https://www.mylighthouse.com/legal/terms-conditions
servers:
- url: https://api.mylighthouse.com/v3
  description: Production
security:
- LighthouseApiToken: []
tags:
- name: Reviews
  description: Aggregated review scores across OTAs.
paths:
  /reviews:
    get:
      tags:
      - Reviews
      summary: Get Review Score Summaries
      description: Aggregated review scores over the past 12 months and 12 weeks per OTA.
      parameters:
      - in: query
        name: subscriptionId
        required: true
        schema:
          type: string
      - in: query
        name: ota
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      operationId: getReviews
      x-operation-id-source: derived
components:
  securitySchemes:
    LighthouseApiToken:
      type: apiKey
      in: header
      name: X-Oi-Authorization
      description: Account-bound API token passed as the X-Oi-Authorization header. Tokens provide access to all subscriptions within the account.
externalDocs:
  description: Lighthouse API Documentation
  url: https://api.mylighthouse.com/
