openapi: 3.2.0
info:
  title: Lighthouse Integration Hotels API
  description: The Lighthouse Integration API (formerly the OTA Insight API) lets subscribed hotel and hospitality customers create periodic custom data extracts from Lighthouse's hotel competitive intelligence, market demand, pricing, and parity datasets.
  version: '3.1'
  contact:
    name: Lighthouse Developer Support
    url: https://www.mylighthouse.com/contact-sales
  termsOfService: https://www.mylighthouse.com/legal/terms-conditions
servers:
- url: https://api.mylighthouse.com/v3
  description: Production
security:
- LighthouseApiToken: []
tags:
- name: Hotels
  description: List hotels, competitors, compsets, and subscribed features.
paths:
  /hotels:
    get:
      tags:
      - Hotels
      summary: List Hotels
      description: List hotels, their competitors, compsets, and subscribed features for the authenticated account.
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '429':
          description: Rate-limited
      operationId: getHotels
      x-operation-id-source: derived
components:
  securitySchemes:
    LighthouseApiToken:
      type: apiKey
      in: header
      name: X-Oi-Authorization
      description: Account-bound API token passed as the X-Oi-Authorization header. Tokens provide access to all subscriptions within the account.
externalDocs:
  description: Lighthouse API Documentation
  url: https://api.mylighthouse.com/
