openapi: 3.1.0
info:
  title: Lighthouse Integration Demand Rates API
  description: The Lighthouse Integration API (formerly the OTA Insight API) lets subscribed hotel and hospitality customers create periodic custom data extracts from Lighthouse's hotel competitive intelligence, market demand, pricing, and parity datasets. The API exposes read-only endpoints across Hotels, Markets, Rates, Demand, Ranking, Reviews, Parity, and Market Insight. It is part of the Lighthouse Developer Solutions Suite, which also includes integration patterns for Business Intelligence, Benchmark Insight, Pricing Manager, and Channel Manager.
  version: '3.1'
  contact:
    name: Lighthouse Developer Support
    url: https://www.mylighthouse.com/contact-sales
  termsOfService: https://www.mylighthouse.com/legal/terms-conditions
servers:
- url: https://api.mylighthouse.com/v3
  description: Production
security:
- LighthouseApiToken: []
tags:
- name: Rates
  description: Current and historic lowest rates, rates per room type, and raw rates across OTAs.
paths:
  /rates:
    get:
      tags:
      - Rates
      summary: Get Lowest Rates
      description: Lowest rates for a hotel and its compset on a given OTA.
      parameters:
      - in: query
        name: subscriptionId
        required: true
        schema:
          type: string
      - in: query
        name: ota
        schema:
          type: string
          default: bookingdotcom
      - in: query
        name: los
        schema:
          type: integer
          default: 1
      - in: query
        name: format
        schema:
          type: string
          enum:
          - json
          - csv
          default: json
      responses:
        '200':
          description: OK
  /roomtyperates:
    get:
      tags:
      - Rates
      summary: Get Lowest Rates Per Room Type
      description: Lowest rates broken down by room type for a hotel and compset.
      parameters:
      - in: query
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /historic/rates:
    get:
      tags:
      - Rates
      summary: Get Historic Lowest Rates
      description: Historical lowest rates as captured on a specific extract date.
      parameters:
      - in: query
        name: subscriptionId
        required: true
        schema:
          type: string
      - in: query
        name: extractDate
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
  /historic/roomtyperates:
    get:
      tags:
      - Rates
      summary: Get Historic Lowest Rates Per Room Type
      description: Historical room-type lowest rates as captured on a specific extract date.
      parameters:
      - in: query
        name: subscriptionId
        required: true
        schema:
          type: string
      - in: query
        name: extractDate
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    LighthouseApiToken:
      type: apiKey
      in: header
      name: X-Oi-Authorization
      description: Account-bound API token passed as the X-Oi-Authorization header. Tokens provide access to all subscriptions within the account.
externalDocs:
  description: Lighthouse API Documentation
  url: https://api.mylighthouse.com/
